@font-face {
	font-family: coolFont;
	src: url(./Trajan_Pro_Regular.ttf);
}

@font-face {
	font-family: coolFont;
	src: url(./Trajan_Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: coolFont2;
	src: url(./perpetua.ttf);
}


body {
	background-image: url(./abyss.jpg);
	background-size: 100% 100%;
}

@media only screen and (min-width: 400px) {
	body {
		background-image: url(./City_of_Tears_Fountain_Square.png);
		background-size: 100% 100%;
	}
}


h1 {
    text-align: center;
    font-family: coolFont, sans-serif;
    font-weight: bold;
	text-shadow: 0 0 10px #F0FFFF;
	color: azure;
}

h2 {
	margin-top: 0px;
	font-family:coolFont;
}

table, th, td {
	border-width:2px;
	border-style:solid;
	border-color: mediumaquamarine;
	border-collapse: collapse;
	padding-left:25px;
	padding-right:25px;
	padding-top:5px;
	padding-bottom:5px;
	font-family:coolFont2;
	font-size:20px;
	color: midnightblue;
	margin-left: auto;
	margin-right: auto;
	
}

.fieldsets {
	background-color: paleturquoise;
	padding: 10px;
	margin-bottom: 10px;
}

.legends {
	background-color: #99bbff;
	padding: 5px;
	color: darkslateblue;
	border-width: 1px;
	border-style: solid;
	border-color: darkblue
}

.radios {
	display: grid;
	place-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-size: 17px;
}

.radios input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.customradio {
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: darkblue;
	background-color: #6699ff;
	height: 27px;
	width: 48px;
	margin-bottom: 7px;
	margin-left: 8px;
}

.customradio:hover {
	background-color: #3377ff;
}

.inputboxes {
	display: block;
	background-color: #6699ff;
	font-family: coolFont;
	color: midnightblue;
	font-size: 17px;
	margin-left: 8px;
	margin-bottom: 7px;
	height: 27px;
	width: 108px;
	border-width: 1px;
	border-style: solid;
	border-color: darkblue;
}

.inputboxes:focus {
	background-color: #4d88ff;
}

.specilbuttons {
	border-width: 1px;
	border-style: solid;
	border-color: darkblue;
	background-color: #66b3ff;
	margin-bottom: 7px;
	border-radius: 2px;
	font-family: coolFont;
	font-size: 17px;
}

.specilbuttons:hover {
	background-color: #3399ff;
}

.specilbuttons:active {
	background-color: #4da6ff;
}

.forms {
    background-color: azure;
    color: midnightblue;
    font-family: coolFont;
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: steelblue 0px 0px 7px 7px;
    padding: 25px;
    border-width: 4px;
    border-style: solid;
    border-color: mediumaquamarine;
}

.scoreboard {
	background-color: azure;
	color: midnightblue;
	box-shadow: steelblue 0px 0px 6px 6px;
	width: 50%;
	max-width: 350px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-width: 4px;
	border-style: solid;
	border-color: mediumaquamarine;
	padding:10px;
}

